---
import { config } from "../utils/config";

const year = new Date().getFullYear();
---

<footer class="text-sm text-gray-600">
  <div class="container py-8">
    <p>&copy; {year} {config.storeName}. All rights reserved.</p>
  </div>
</footer>
